* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 150%;
}

body {
    line-height: 1.4;
    font-family: sans-serif;
    width: 100%;
    max-width: 67rem;
    padding: 1.5rem;
    background-color: #dfd;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1rem;
    color: #c33;
}