* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

button {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

button:hover {
  background-color: #e10066;
}

.red-button {
  background-color: #f44336; /* Red color for pack buttons */
}

.red-button:hover {
  background-color: #d32f2f;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
